:root {
  --ff-copy-outfit: "Outfit", sans-serif;
  --ff-h2-young: "Young Serif", serif;

  --clr-white: hsl(0, 0%, 100%);
  --clr-stone-100: hsl(30, 54%, 90%);
  --clr-stone-150: hsl(30, 18%, 87%);
  --clr--Stone-600: hsl(30, 10%, 34%);
  --clr--Stone-900: hsl(24, 5%, 18%);
  --clr--Brown-800: hsl(14, 45%, 36%);
  --clr--Rose-800: hsl(332, 51%, 32%);
  --clr--Rose-50: hsl(330, 100%, 98%);

  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  font-size: 16px;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
html,
body {
  height: 100%;
  letter-spacing: 0;
}

strong {
  font-weight: var(--fw-bold);
}

/* utility classes */
.bg-body {
  background-color: var(--clr-stone-100);
}

.bg-card {
  background-color: var(--clr-white);
}

.bg-prep {
  background-color: var(--clr--Rose-50);
}

.txt-lh-100 {
  line-height: 100%;
}

.txt-preset-1 {
  color: var(--clr--Stone-900);
  font-family: var(--ff-headings-young);
  font-size: 2.5rem;
  font-weight: var(--fw-regular);
  line-height: 100%;
}

.txt-preset-2 {
  color: var(--clr--Brown-800);
  font-family: var(--ff-h2-young);
  font-size: 1.25rem;
  font-weight: var(--fw-semibold);
  line-height: 100%;
}

.txt-preset-3 {
  color: var(--clr--Rose-800);
  font-family: var(--ff-copy-outfit);
  font-size: 1.25rem;
  font-weight: var(--fw-semibold);
  line-height: 100%;
}

.txt-preset-4 {
  color: var(--clr--Stone-600);
  font-family: var(--ff-copy-outfit);
  font-size: 1rem;
  font-weight: var(--fw-regular);
  line-height: 150%;
}

.txt-preset-4-bold {
  color: var(--clr--Brown-800);
  font-family: var(--ff-copy-outfit);
  font-size: 1rem;
  font-weight: var(--fw-bold);
  line-height: 150%;
}

.line-clr {
  border-color: var(--clr-stone-150);
}

.block-margin-100 {
  margin-block: 1.5rem;
}
.block-margin-200 {
  margin-block: 2rem;
}
.block-margin-300 {
  margin-block: 2.5rem;
}

.padding-100 {
  padding: 1.5rem;
}

/* General Layout */

.primary-container {
  display: grid;
  place-items: center;
}

.card {
  width: clamp(23.438rem, 15.493rem + 33.897vw, 46rem);

  margin-top: clamp(0rem, -2.817rem + 12.019vw, 8rem);
  border-radius: 1.5rem;
}

.container {
  margin: clamp(2rem, 1.824rem + 0.751vw, 2.5rem);
}

.hero {
  width: auto;
  height: clamp(10.688rem, 7.849rem + 12.113vw, 18.75rem);
  border-radius: 0.75rem;
}

.preperation {
  border-radius: 0.75rem;
}

ul {
  margin: 1rem;
}
ul li {
  padding-left: 1rem;
}

.preperation ul li:nth-child(2) {
  padding-block: 0.5rem;
}

ol {
  margin: 1.5rem;
}

ol li {
  padding-left: 1rem;
}

li::marker {
  color: var(--clr--Brown-800);
  font-family: var(--ff-copy-outfit);
  font-size: 1rem;
  font-weight: var(--fw-bold);
  line-height: 150%;
}

ol li:not(:last-child) {
  padding-bottom: 0.5rem;
}

.primary-header {
  margin: clamp(0rem, -0.88rem + 3.756vw, 2.5rem);
}

.table-container {
  display: grid;
  border-collapse: collapse;

  grid-auto-flow: column;
}

.table-container tr {
  border-bottom: 1px solid var(--clr-stone-150);
  height: 2.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}

td {
  align-self: center;
}
.td-padding {
  padding-left: 2rem;
}

.no-border {
  border: none !important;
}
